# Web app (React)
# --------------------------------------

# Logs
web/logs
web/*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*

web/node_modules
web/dist
web/dist-ssr
web/*.local

# Editor directories and files
web/.vscode/*
web/!.vscode/extensions.json
web/.idea
web/.DS_Store
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?

# Server app (Flask)
# --------------------------------------
# Arquivos de ambiente virtual
server/venv/
server/.venv/

# Arquivos de cache e específicos do Python
server/__pycache__/
server/*.pyc
server/*.pyo

# Logs
server/*.log

# Arquivos de configurações sensíveis
server/.env
